<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
        body {
        	color:black;
        	font-family: Arial, sans-serif;
        }
        
        h1 {
        	font-size: 36px;
        	font-weight: bold;
        	color: #FFFF33;
        	font-family: Georgia, "Times New Roman",Times, serif;
        	background-color: black;
        }
        
    </style>
  </head>

  <body>
    <h1>Tienes un evento cerca, mira la app <%= @user.name %></h1>
    
  </body>
</html> 