<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
        body {
        	color:black;
        	font-family: Arial, sans-serif;
        }
        
        h1 {
        	font-size: 36px;
        	font-weight: bold;
        	color: #A9E2F3;
        	font-family: Georgia, "Times New Roman",Times, serif;
        	background-color: black;
        }
        
    </style>
  </head>
  
  <body>
    <h1>Bienvenido a el plan, <%= @user.name %></h1>
    <p>
      Te has registrado exitosamente,
      tu nombre de usuario es: <%= @user.surname %>.<br>
    </p>

    <p>Gracias huevon!</p>
  </body>
</html>