<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a el plan, <%= @user.name %></h1>
    <p>
      Te has registrado exitosamente,
      tu nombre de usuario es: <%= @user.surname %>.<br>
    </p>
    <p>
      Para iniciar sesion en el sitio, siga este enlace: <%= @url %>. 
    </p>
    <p>Gracias huevon!</p>
  </body>
</html>