<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Mensaje de confirmacion nuevo comentario, <%= @user.name %></h1>
    <p>
      Usted ha realizado un comentario, con el siguiente contenido:
      <%= @comment.comment %> <br>
    </p>
    <p>
      Para entrar al sitio siga el sigiuente link: <%= @url %>. 
    </p>
    <p>De nada</p>
  </body>
</html>